<ion-content [fullscreen]="true">
  <div class="center">

    <ion-card color="warning">
      <img src="assets/videoapp.png" alt="Logo" />
      <ion-card-title class="ion-text-center">Vídeos App</ion-card-title>
      <ion-item lines="none" color="warning">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item lines="none" color="warning">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password" [(ngModel)]="senha"></ion-input>
      </ion-item>
      <ion-button (click)="login()" expand="full" fill="outline" color="light">
        Entrar
      </ion-button>
      <ion-button expand="full" fill="clear" color="light">
        Registrar
      </ion-button>
    </ion-card>
  </div>
</ion-content>
