<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulo">
      Videos App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <!-- Default Searchbar -->
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>

    <ion-item-sliding>

      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/dDJ4YOz7baCHH6ZJPut9NcCgNl1.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Rambo (1982)</h1>
            <p>06/11/1982 (BR) - 1h 34m</p>
            <p>Ação, Aventura, Thriller, Guerra</p>
          </div>
        </ion-label>
        <ion-chip>
          <ion-label color="success" outline>74%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/4BTW7PyEYFUFlNpuSeS9hAbpk9P.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>De Volta para o Futuro (1985)</h1>
            <p>25/12/1985 (BR) - 1h 55m</p>
            <p>Aventura, Comédia, Ficção científica, Família</p>
          </div>
        </ion-label>
        <ion-chip>
          <ion-label color="success" outline>83%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/sb59Xr3ckkUH7r6EtCZC9EBV5JB.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>Desafiando Gigantes (2006)</h1>
            <p>29/09/2006 (US) - 1h 51m</p>
            <p>Drama</p>
          </div>
        </ion-label>
        <ion-chip>
          <ion-label color="success" outline>75%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/fX1n097j6l7Y47jtph8Z4SwJkbR.jpg">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <div>
            <h1>À Prova de Fogo (2008)</h1>
            <p>21/12/2008 (BR) - 2h 2m</p>
            <p>Drama, Romance</p>
          </div>
        </ion-label>
        <ion-chip>
          <ion-label color="success" outline>74%</ion-label>
        </ion-chip>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon></ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

</ion-content>
