h1, p {
  text-align: center;
  font-weight: bold;
  color: blue;
}

.email{
  justify-content: center;
  align-items: center;
}

.img-git{
  border-radius: 50%;
  padding-top: 5%;
  max-width: auto;
}
